body {
  padding: 0px;
  background-color: #403ec5;
}

main {
  padding: 20px 20px;
  background-color: #f1f1f1;
  min-height: 300px;
}
footer {
  background-color: #333;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 100px 20px 20px 20px;
}
.disabled-link {
  cursor: not-allowed;
}
